In [2]:
from fforma import FFORMA
from fforma.m4_data import prepare_m4_data, seas_dict
import pandas as pd

In [3]:
dataset = 'Weekly'
validation_periods = seas_dict[dataset]['output_size']
seasonality = seas_dict[dataset]['seasonality']

In [4]:
X_train_df, y_train_df, X_test_df, y_test_df = prepare_m4_data(dataset, './m4', 100)

In [5]:
# optimal params by hyndman
optimal_params = {'n_estimators': 94,
                  'eta': 0.58,
                  'max_depth': 14,
                  'subsample': 0.92,
                  'colsample_bytree': 0.77}
fforma = FFORMA(params=optimal_params, 
                h=validation_periods, 
                seasonality=seasonality, base_models=None,
                metric='smape', early_stopping_rounds=10, threads=None, random_seed=1)

In [6]:
fforma.fit(X_train_df, y_train_df)

============================= Fitting Models =============================
============================ Computing Errors ============================
=========================== Computing Features ===========================
Training Meta Learner...

In [7]:
fforma.predict(X_test_df)

,unique_id,ds,Naive2,RandomWalkDrift,SeasonalNaive,x,y_hat
0,W1,2011-10-09,35347.127888,35412.912048,40556.73,Other,35416.454030
1,W1,2011-10-16,35476.266109,35428.664096,40676.26,Other,35432.277539
2,W1,2011-10-23,35430.078077,35444.416143,40676.26,Other,35448.018740
3,W1,2011-10-30,35790.659198,35460.168191,40494.52,Other,35463.634796
4,W1,2011-11-06,35785.354208,35475.920239,40494.52,Other,35479.375997
...,...,...,...,...,...,...,...
1295,W99,2013-12-01,15112.946465,15156.913019,16730.50,Finance,15157.824367
1296,W99,2013-12-08,15071.388483,15163.122244,16566.63,Finance,15163.935089
1297,W99,2013-12-15,15066.769868,15169.331468,16338.69,Finance,15170.008705
1298,W99,2013-12-22,15095.895844,15175.540692,16401.59,Finance,15176.250762
1299,W99,2013-12-29,15099.497976,15181.749917,16333.03,Finance,15182.416684